.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#authors {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 200%;
}

#authors td, #authors th {
  border: 1px solid #ddd;
  padding: 8px;
}

#authors tr:nth-child(even){background-color: #f2f2f2;}

#authors tr:hover {background-color: #ddd;}

#authors th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #808080;
  color: white;
}
